body {
    display: flex;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-bottom: solid black 5px;
}

aside {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 10%;
    width: 50%;
    height: 95%;
    border-right: solid black 5px;
}

#circle {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    background-image: linear-gradient(to bottom, rgb(247, 231, 10), rgb(184, 176, 67), rgb(94, 89, 31));
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

main {
    display: flex;
    position: fixed;
    top: 10%;
    right: 0;
    width: 50%;
    height: 100vh;
    border-left: solid black 5px;
    padding-left: 10px;
    align-items: center;
}

main h1 {
    padding-left: 25%;
    width: 100%;
    
}

#inputs-container {
    padding-left: 50px; 
    display: inline-block;
    width: 100%;
}

label {
    font-size: 20px;
}

input {
    display: block;
    margin-bottom: 15px;
    width: 95%;
    height: 25px;
}

#content {
    height: 100px;
    margin-top: 5px;
}